@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.bg-dark-opacity {
    background: rgba(31, 30, 62, 0.91);
    
}

.border-color {
    border: 1px solid rgba(219, 226, 255, 0.18)
}

.border-color-bottom {
    border-bottom: 1px solid rgba(219, 226, 255, 0.18)
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}